{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-vue/scss"
  ],
  "rules": {},
  "overrides": [
    {
      "files": ["*.vue", "**/*.vue"],
      "rules": {
        "unit-allowed-list": ["em", "rem", "px"]
      }
    }
  ]
}
